//about
.about-wrapper{
    padding:0.5rem 0;
    width:70%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5rem;
    
    img{
        pointer-events:none;
    }
    h1{
        cursor: default;
        margin:0;
        font-size:3rem;
        font-weight: 500;
    }
    h2{
        cursor: default;
        margin:0;
        font-size:1.5rem;
        font-weight: 400;
    }
    h3{
        cursor: default;
        position: relative;
        margin:0;
        font-size:2rem;
        margin-left:1rem;
        font-weight: 300;
        &::before{
            content:"";
            position: absolute;
            left:-1rem;
            width:4px;
            background-color: var(--text-color);
            height:100%;
        }
        
    }
}
#portret{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width:auto;
    mask-image:linear-gradient(to left ,black 40% , rgba(255, 255, 255, 0)95%);
}