//about

@mixin custom-scrollbar($width){
    //scrollbar
    & {
        scrollbar-width: thin;
        scrollbar-color: var(--knob-color) transparent;
    }
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--knob-color);
        border-radius: 10px;
        border: $width/4 solid transparent;
        background-clip: padding-box;

    }
}
.about-wrapper{
    padding:0.5rem 0;
    width:70%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5rem;
    
    img{
        pointer-events:none;
    }
    h1{
        cursor: default;
        margin:0;
        font-size:3rem;
        font-weight: 500;
    }
    h2{
        cursor: default;
        margin:0;
        font-size:1.5rem;
        font-weight: 400;
    }
    h3{
        cursor: default;
        position: relative;
        margin:0;
        font-size:2rem;
        margin-left:1rem;
        font-weight: 300;
        &::before{
            content:"";
            position: absolute;
            left:-1rem;
            width:4px;
            background-color: var(--text-color);
            height:100%;
        }
        
    }
}
#portret{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width:auto;
    mask-image:linear-gradient(to left ,black 40% , rgba(255, 255, 255, 0)95%);
    @media (max-width:1000px){
        top:25%;
        right:0.5rem;
        height:50%;
        border-radius: 50%;
    }
}
@mixin fullscreen{
    position: fixed;

    top:0;
    left:0;

    background: var(--foreground-color);

    box-sizing: border-box;
    width:100vw;
    height:100vh;

    

    z-index:99;

    display:none;

   
    align-items: center;
    justify-content: center;
    gap:1rem;

    padding: 6rem 2rem 0;
    //overflow:auto;
    @media (max-width:1000px) {
        padding: 6rem 1rem 0;
    }
    opacity:0;

    &__menu{
        display:flex;
        gap:8px;
        justify-content: center;
        flex-direction: column;
        @media (max-width: 1000px){
            display: none;
        }
    }
    &__menu-item{
        width: 1rem;
        aspect-ratio: 1;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:2rem;
        background:var(--knob-color);
        border-radius: 50%;
        transition: all 0.3s ease 0s;
        &:hover{
            transform:scale(1.05);
        }
        &-active{
            background:var(--text-color);
        }
    }
    &__container{
        //border: 1px solid rgb(60, 255, 0);
        flex-grow: 1;

        height:100%;

        overflow: auto;

        scrollbar-gutter: stable ;

        position: relative;

        scroll-snap-type: y mandatory;

        @include custom-scrollbar(16px);

        scroll-behavior: smooth;
    }
    &__carousel{
        width:100%;
        position: relative;
        display:flex;
        flex-direction: column;
        transition: all 0.3s ease 0s;
        @media (max-width:1000px) {
            gap:2rem;
        }
        
    }
    &__slide{
        width:100%;
        scroll-snap-align:start;
        @media (max-width:1000px) {
            scroll-snap-align:none;
        }
        position: relative;
        overflow:hidden;
        //border:1px solid red;
    }
}
.fullscreen-anim{
    animation:fadeIn 400ms;
    animation-delay:400ms;
}
@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
//fullscreen
.about-fullscreen{
    @include fullscreen();
}
.work-fullscreen{
    @include fullscreen();
}
.project-fullscreen{
    @include fullscreen();
}
.ab1{
    height:100%;
    width:100%;
    display:flex;
    align-items: start;
    #portret{
        width:45%;
        height:auto;
        mask-image:none;
        position: relative;
    }
    
    font-size:2rem;
    padding:4rem 2rem;
    &__text{
        width:50%;
        p{
            text-indent: 3rem;
        }
    }
    @media (max-width:1000px){
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding:0;
        &__text{
            width:100%;
        }
        #portret{
            border-radius: 50%;
        }
    }
}
.ab2{

    font-size:2rem;
    
    height:calc(100vh - 6rem);
    width:85%;
    margin-inline:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}