//skills
.skills{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__label{
        position: relative;
        font-size:2rem;
        font-weight: 300;
        &:hover::before{
            opacity:1;
            transform:scale(1);
        }
        &::before{
            content:"";
            position: absolute;
            left:0;
            border-bottom: 2px solid var(--text-color);
            
            opacity: 0;
            transform: scale(0,1);
            transition: all 0.3s ease 0s;
            height:100%;
            width:100%;
        }
    }
    &__items{ 
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:100%;
        height:70%;
        gap:4px;
        p{
            font-size:1.5rem;
            position: relative;
        }
    }
    &__item{
        display:flex;
        flex-direction: row;
        gap:0.5rem;
        &:nth-of-type(1) .skills__icon{
            mask-image:url(../img/icons/html.svg);
        }
        &:nth-of-type(2) .skills__icon{
            mask-image:url(../img/icons/css.svg);
        }
        &:nth-of-type(3) .skills__icon{
            mask-image:url(../img/icons/js.svg);
        }
        &:nth-of-type(4) .skills__icon{
            mask-image:url(../img/icons/ts.svg);
        }
        &:nth-of-type(5) .skills__icon{
            mask-image:url(../img/icons/react.svg);
        }
        &:nth-of-type(6) .skills__icon{
            mask-image:url(../img/icons/figma.svg);
        }
    }

    &__icon{
        height:3rem;
        aspect-ratio: 1;
        mask-size: cover;
        background-color: var(--text-color); 
        
    }
}