@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "variables";
@import "animations";
@import "about";
@import "skills";
@import "contacts";
@import "links";
@import "work";
body{
    all:unset;
    overflow: hidden;
    transition: background-color 0.3s ease 0s , color 0.3s ease 0s, background 0.3s ease 0s ,transform 0.3s ease 0s ;
    background-color:var(--bg-color);
    color:var(--text-color);
    font-family: 'Manrope', sans-serif;
    p{
        margin:0;
    }
    user-select: none;
}
img{
    pointer-events: none;
}
.clone{
    display: none;
    z-index:20;
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:var(--foreground-color);
    animation-duration: 0.5s;
    animation-timing-function: ease;
}
.reveal{
    display:block;
    animation-name: reveal;
}
.unreveal{
    display:block;
    animation-name: unreveal;
}
//content
$gap : 1rem;
.content{
    height:100vh;
    padding:4rem 0px;
    box-sizing: border-box;
    position: relative;
    &__grid{
        height:100%;
        max-width:1280px;
        margin-inline: auto;
        display:grid;
        gap:$gap;
        grid-template-rows: 2fr 1fr;

        .grid-row1{
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap:$gap;
            .grid-subgrid{
                display:grid;
                gap:$gap;
                grid-template-rows: 1fr 1fr;
            }
        }
        .grid-row2{
            display:grid;
            grid-template-columns: 1fr 2fr 1fr;
            gap:$gap;
        }
        & .grid-item{
            overflow: hidden;
            transition: all 0.3s ease 0s;
            position: relative;
            z-index: 12;
            &__content{
                background: var(--foreground-color);
                border-radius: inherit;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                inset: 2px;
                position: absolute;
                z-index: 12;
                background-clip: padding-box;
                padding:1rem;
               
            }
            &:hover{
                transform: scale(1.01);
                z-index:12;
            }
            &__border{
                border-radius: inherit;

                top: 0px;
                left: 0px;
                position: absolute;
                
                transition: opacity 500ms;
                transform-origin: center;
                width: 800px;
                aspect-ratio: 1;

                background: radial-gradient(
                    600px circle at 50% 50% , 
                    var(--border-color),
                    transparent 40%
                );
                z-index: 10;
            }
            &__foreground{
                border-radius: inherit;

                top: 0px;
                left: 0px;
                position: absolute;
                
                transition: opacity 500ms;

                transform-origin: center;
                opacity:0;
                width: 800px;
                aspect-ratio: 1;

                pointer-events: none;
                background: radial-gradient(
                    600px circle at 50% 50%, 
                    var(--hover-color),
                    transparent 40%
                );
                //border:1px red solid;
                z-index: 13;
            }
        }

        
    }
    
}
.grid-item:hover .grid-item__foreground {
    opacity: 1;
}
.themeButton__container{
    transition: transform 0.3s ease 0s,background-color 0.3s ease 0s;
}
.dark{
    .themeButton__container{
        transform: translateY(-50%);
    }
}
.light{
    .themeButton__container{
        transform: translateY(0);
    }
}
#themeButton {
    height:2rem;
    width:2rem;
    position: fixed;
    left:2rem;
    top:2rem;
    z-index: 999;
    overflow: hidden;
}

.theme-icon{
    mask-size: cover;
    background-color: var(--text-color); 
    width: 2rem;
    height: 2rem;
}
#sun{
    mask-image: url("../img/sun.svg");
}
#moon{
    mask-image: url("../img/moon.svg");
}

#lang {
    height:2rem;
    width:2rem;
    position: fixed;
    right:2rem;
    top:2rem;
    z-index: 999;
    font-size:1.5rem;
    cursor:default;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease 0s;
    
    &:hover{
        transform: scale(1.05);
    }
    /* circle around
    &::after{
        content:"";
        position: absolute;
        left:-9px;
        top:-9px;
        width:48px;
        height:48px;
        border-radius: 50%;
        border: 2px solid var(--text-color);
    }*/
}

#blob {
    pointer-events: none;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index:1;
}
#blob-image{
    pointer-events: none;
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.5;
    z-index:1;
}
#blur {
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(6vmax);
}
@keyframes rotate {
    from {
        transform:rotate(0deg); 
    }
    50% {
        scale: 1 1.5;
    }
    to {
        transform:rotate(360deg);
    }
}