.light{
    --bg-color:#f7f7f7;
    --foreground-color:#e7e7e7;
    --text-color:rgb(13, 13, 13);
    --hover-color:rgba(0, 0, 0, 0.08);
    --border-color:rgb(57, 57, 57);
    --cursor-color:rgba(0, 0, 0, 0.5);
    --accent-color: #2d82cc;
    --disable-color:rgb(83, 83, 83);
    // #146c94
    // #2c74b3
    // #0081c9
    & .noise{
        opacity: .35;
    }
}
.dark{
    --bg-color:rgb(15, 15, 15);
    --foreground-color: rgb(34, 34, 34);
    --text-color :rgb(236, 236, 236);
    --hover-color:rgba(255, 255, 255, 0.06);
    --border-color:rgba(255, 255, 255, 0.75);
    --cursor-color :rgb(236, 236, 236);
    --accent-color:#6c9bcf;
    --disable-color:rgb(133, 133, 133);
    // #8294c4
    // #6c9bcf
    // #93bfcf
    // #aebdca
    & .noise{
        opacity: .20;
    }
    & .cursor-dot{
        mix-blend-mode: difference;
        
    }
    & .cursor-circle{
        mix-blend-mode: difference;
    }
}