html{scroll-behavior:smooth}
body{
    margin:0;
    font-family: 'Comfortaa', cursive;
    background: #F9F9F9;
}
h1 {
    font-size: 128px;
    margin:0;
    font-weight: 400;
}
h2{
    font-size: 80px;
    margin:0;
    font-weight: 400;
}
h3{
    font-size: 64px;
    margin:0;
    font-weight: 400;
}
h4{
    font-size: 48px;
    margin:0;
    font-weight: 400;
}
h5{
    font-size: 32px;
    margin:0;
    font-weight: 400;
}
h6{
    font-size: 24px;
    margin:0;
    font-weight: 400;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size:32px;
    margin:0;
    font-style: normal;
    font-weight: 400;
}
