body {
    background-color: #F4F4F2;
    color: #495464;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.main{
    display: flex;
    justify-content: center;
}
.header {
    filter: drop-shadow(5px 5px 10px #BBBFCA);
}
/*header 1*/
.header1{
    width:900px;
    background-color: #E8E8E8;
    margin-top:25px;
    padding:20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items:center;
}
.header1 img{
    height: 50px;
    width: auto;
}
.hlink a{
    margin-left:50px;
    margin-right: 50px;
}
.hlink{
    width:100%;
    display: flex;
    justify-content: center;
}
/* header 2 */
.header2{
    width:900px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #E8E8E8;
    padding:20px;
}
.cont2{
    margin-top: 60px;
    text-align: center;
}
.cont2 h1{
    margin:0;
    font-weight: 100;
    font-size:85px;
}
.cont2 p{
    margin:0;
    font-size:30px;
}
.cont2 img{
    margin-top:50px;
    width: 300px;
    height:auto;
    border-radius: 255px;
}
/* header 3*/
.header3{
    width:900px;
    height: 50px;
    background-color: #E8E8E8;
    padding:20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 90px;
}
.space{
    height:180px;
}
a{
    color: #495464;
    text-decoration: none;
    padding :5px;
    transition: text-shadow .2s;
}
a:hover{
    text-shadow: 0 0 20px #BBBFCA, 0 0 30px #495464, 0 0 40px #BBBFCA, 0 0 55px #495464, 0 0 75px #495464, 2px 2px 2px rgba(206,89,55,0);
    transition: text-shadow .2s;
}
.header4{
    width:900px;
    background-color: #E8E8E8;
    padding:20px;
}
li{
    margin-bottom:10px;
}