@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
[class*='__wrapper']{
  
    max-width:1400px;
    height:100%;
    margin-inline: auto;
    position: relative;
    padding:0 16px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}  
a{
    all:unset;
}