body {
    font-family: 'Montserrat', sans-serif;
    /*background: linear-gradient(0deg, #665A48 40%, #9F8772 100%);*/
    background-color: #4158D0; background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color:white;
    height: 100%;
    margin: 0;
    animation: gradient 15s ease infinite;
    background-size: 300% 300%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.fake{
    height:1000px;
    width:auto;
}
.right {
    float:right;
    margin-top:10%;
}
.header h1{
    font-size:185px;
    margin: 0;
    margin-bottom: 20px;
}
.links{
    background-color:rgba(0,0,0,0.8);
    width:70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float:right;
}
.links li:hover {
    font-size:50px;
    transition: font-size .2s;
}
.links li a {
    text-decoration: none;
    color:white;
}
.links li {
    list-style-image: url("images/li.svg");
    font-size:45px;
    transition: font-size .2s;
}
.links li:nth-child(2){
    animation: gradient 15s ease infinite;
    background-size: 300% 300%;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.v_d{
    background-color:rgba(0,0,0,0.8);
    width:50%;
    padding:15px;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left:5%;
    border-radius: 15px;
    font-size:30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
p:first-child {
    color: #FFCC70;
  }
p:nth-child(2){
    background-size: 50%;
    background-image: linear-gradient( 104.6deg,  rgba(247,27,27,1) 5.2%, rgba(241,126,40,1) 13.8%, rgba(236,241,40,1) 25.1%, rgba(55,241,40,1) 36.3%, rgba(40,171,241,1) 50.1%, rgba(65,40,241,1) 66.6%, rgba(191,40,241,1) 79%, rgba(241,40,196,1) 91.8% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2::after{
    content:"✔️"
}
.invisible{
    color: rgba(0,0,0,0);
}
.links2{
    width:70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.links2 li:hover {
    font-size:32px;
    transition: font-size .2s;
    
}
.links2 li a {
    text-decoration: none;
    color:white;
    font-size:30px;
    transition: font-size .2s ,color .2s;
}
.links2 li a:hover{
    color: #FFCC70;
    font-size:32px;
    transition: font-size .2s , color .2s;
}
.links2 li {
    list-style-image: url("images/li.svg");
}
h3{
    margin:0;
}
/*nth child = n*2 */ 
.v_d:nth-child(4) p:nth-child(3){
   font-size: 32px;
   font-style:italic;
   color:#4158D0;
}